/**
 * Admin Bar Defaults
 */

#wpadminbar {
    height: 44px;
}

#wpadminbar li#wp-admin-bar-wp-logo {
    display: none !important;
}

#wpadminbar ul#wp-admin-bar-root-default li a,
#wpadminbar ul#wp-admin-bar-top-secondary li a {
    height: 44px;
    padding: 0 10px !important;
    color: white;
    font: 400 13px/44px "Open Sans", sans-serif;
}

#wpadminbar ul#wp-admin-bar-root-default li a:before,
#wpadminbar ul#wp-admin-bar-root-default li a span.ab-icon,
#wpadminbar ul#wp-admin-bar-top-secondary li a:before,
#wpadminbar ul#wp-admin-bar-top-secondary li a span.ab-icon {
    top: 0;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    color: white;
    font: 400 20px/42px dashicons !important;
}

#wpadminbar ul#wp-admin-bar-root-default li a span.ab-icon:before,
#wpadminbar ul#wp-admin-bar-top-secondary li a span.ab-icon:before {
    color: white;
}

#wpadminbar ul#wp-admin-bar-root-default li span,
#wpadminbar ul#wp-admin-bar-top-secondary li span {
    color: white;
    opacity: 1;
}

#wpadminbar #adminbarsearch {
    margin-top: 6px;
}

#wpadminbar #adminbarsearch:before {
    color: white;
}

/**
 * WordPress Admin
 */
.wp-admin #wpadminbar {
    left: 250px;
    z-index: 9998 !important;
    width: calc(100% - 250px);
    height: 45px;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    background: #F2F2F2;
    border-bottom: thin solid #e0e0e0;
}

.wp-admin #wpadminbar * {
    color: #364052 !important;
}

.wp-admin #wpadminbar li a.ab-item,
.wp-admin #wpadminbar li .ab-sub-wrapper {
    color: #364052 !important;
    background-color: #F2F2F2 !important;
}

.wp-admin #wpadminbar li a:focus span {
    color: #FF8174 !important;
}

.wp-admin #wpadminbar li span,
.wp-admin #wpadminbar li a:before,
.wp-admin #wpadminbar li a span.ab-icon,
.wp-admin #wpadminbar li a span.ab-icon:before {
    color: #364052 !important;
}

.wp-admin #wpadminbar li:hover > a,
.wp-admin #wpadminbar li:hover > a span {
    color: #FF8174 !important;
}

.wp-admin #wpadminbar #adminbarsearch:before {
    color: #364052 !important;
}

body.folded.wp-admin #wpcontent #wpadminbar {
    left: 36px;
    width: calc(100% - 36px);
}

/*
 * Responsiveness
 */
@media only screen and (max-width: 960px) {
    .wp-admin #wpadminbar {
        left: 0 !important;
        width: 100% !important;
        padding-left: 0;
    }
}

@media only screen and (max-width: 782px) {
    .wp-admin #wpadminbar {
        padding-right: 0;
    }

    .wp-admin #wpadminbar #wp-admin-bar-menu-toggle a {
        border: none !important;
    }

    .wp-admin #wpadminbar div.quicklinks ul#wp-admin-bar-root-default li a:before, #wpadminbar div.quicklinks ul#wp-admin-bar-root-default li a span.ab-icon, #wpadminbar div.quicklinks ul#wp-admin-bar-top-secondary li a:before, #wpadminbar div.quicklinks ul#wp-admin-bar-top-secondary li a span.ab-icon {
        font: 400 32px/1 dashicons !important;
    }
}

/**
 * Front End
 */
:not(.wp-admin) #wpadminbar {
    background: #242B37;
}

:not(.wp-admin) #wpadminbar * {
    color: white !important;
}

:not(.wp-admin) #wpadminbar li a.ab-item,
:not(.wp-admin) #wpadminbar li .ab-sub-wrapper {
    color: white !important;
    background-color: #242B37 !important;
}

:not(.wp-admin) #wpadminbar li a:focus span {
    color: #4BA0D9 !important;
}

:not(.wp-admin) #wpadminbar li:hover > a,
:not(.wp-admin) #wpadminbar li:hover > a span {
    color: #4BA0D9 !important;
}
